/*
Author: Masato Kuster
Date: 17.11.2025
*/

body {
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  background: #212121;
}

.clock {
  width: 40rem;
  height: 40rem;
  border: 7px solid #3c3c3c;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: #3c3c3c;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  overflow: hidden;
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fefefc;
  z-index: 1;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #151515;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
}

.hand.hour-hand {
  width: 25%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: #ff2626;
  width: 50%;
}

.marking {
  position: absolute;
  background: #151515;
}

.marking-one {
  width: 6px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.marking-two {
  width: 40px;
  height: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.marking-three {
  width: 6px;
  height: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.marking-four {
  width: 40px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
