/*
Author: Masato Kuster
Date: 17.11.2025
*/

/* Body */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  height: 100vh;
}

/* Clock */
.clock {
  width: min(40rem, 90vw);
  height: min(40rem, 90vw);
  border: 7px solid #3c3c3c;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: #3c3c3c;
}

/* Clock White */
.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fefefc;
  overflow: hidden;
}

/* Pointer Base */
.hand {
  width: 50%;
  left: 50%; 
  height: 6px;
  background: #151515;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: left;
}

/* Pointer Hour */
.hand.hour-hand {
  width: 25%;
  z-index: 3;
}

/* Pointer Minutes */
.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

/* Pointer Seconds */
.hand.second-hand {
  background: #ff2626;
  width: 50%;
}

/* Marking Base */
.marking {
  position: absolute;
  background: #151515;
}

/* Marking Top */
.marking-one {
  width: 6px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Marking Right */
.marking-two {
  width: 40px;
  height: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Marking Down */
.marking-three {
  width: 6px;
  height: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Marking Left */
.marking-four {
  width: 40px;
  height: 6px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
